<div class="row">
    <div class="col-sm-6 col-md-4" ng-repeat="user in users">
        <div class="caption">
            <h3><a ng-href="#/users/{{user.id}}">{{user.username}}</a></h3>
             <small class="label label-info">{{user.location}}</small>
        </div>
    </div>
</div>