<h3>{{users.username}}</h3>
<p>{{users.bio}}</p>
<small class="label label-info">{{users.location}}</small><br><br>
<p><a ng-href="{{users.site}}" class="btn btn-success" role="button">{{users.site}}</a></p>
