<h1>New Idea</h1>

<form>
    <fieldset class="form-group">
        <label for="title" class="">Title</label>
        <input type="text" id="title" name="title" ng-model="note.title" class="form-control" />
    </fieldset>

    <fieldset class="form-group">
        <label for="content" class="">Description</label>
        <textarea id="description" name="description" ng-model="note.description" class="form-control"></textarea>
    </fieldset>

    <fieldset class="form-group">
        <label for="content" class="">Contents</label>
        <textarea id="content" name="content" ng-model="note.content" class="form-control"></textarea>
    </fieldset>

    <button class="btn btn-default" value="{{isSubmitted ? 'Saving...' : 'Save'}}" ng-click="saveNote(note)">Submit</button>
    
</form>