<h1>Edit : {{note.title}}</h1>

<form>
    <fieldset class="form-group">
        <label for="title" class="">Title</label>
        <input type="text" id="title" name="title" ng-model="note.title" class="form-control" />
    </fieldset>

    <fieldset class="form-group">
        <label class="">Categories</label>
        <select ng-options="category.id as category.name for category in categories" ng-model="note.categoryId" class="form-control"></select>
    </fieldset>

    <fieldset class="form-group">
        <label for="content" class="">Description</label>
        <textarea id="description" name="description" ng-model="note.description" class="form-control"></textarea>
    </fieldset>

    <fieldset class="form-group">
        <label for="content" class="">Contents</label>
        <textarea id="content" name="content" ng-model="note.content" class="form-control"></textarea>
    </fieldset>

    <button class="btn btn-default" ng-click="saveNote(note)" ng-disabled="isSubmitted">Submit</button>
    
</form>