<div class="row">
    <a class="btn btn-default" ng-href="#/new">New note</a>
    <nw-category-selector ng-model="search.category"></nw-category-selector>
</div>
<div class="row">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Search" ng-model="search.input.$">
    </div>
</div>
<div ng-repeat="note in notes | categoryFilter:search.category | filter:search.input" class="col-sm-6 col-md-4">
    <h2><a title="{{note.user.username}}" ng-href="#/notes/{{note.id}}">{{note.title}}</a></h2>
    <p>{{note.description}}</p>
    <p><span class="label label-info">{{note.Category.name}}</span></p>
</div>