<div class="page-header">
    <h1>{{note.title}}</h1>
    <small>{{note.user.username}}</small>
</div>
<p>{{note.content}}</p>
<p><span class="label label-info">{{note.Category.name}}</span></p>
<a href="/#/notes/{{note.id}}/edit" class="btn btn-warning">Edit Note</a>
<a ng-click="deleteNote(note)" class="btn btn-danger">Delete Note</a>
