<div class="btn-group" role="group">
    <a href="" 
    ng-repeat="category in categories" 
    class="btn btn-default"
    ng-class="{'active': isActive(category)}"
    ng-click="toggleCategory(category)">
        {{category.name}}
    </a>
</div>