<ul class="nav navbar-nav navbar-right">
    <li ng-class="{'active': isPage('users')}"><a href="/#/users">Users</a></li>
    <li ng-class="{'active': isPage('notes')}"><a href="/#/notes">Notes</a></li>
</ul>